body {
    margin: 0;
    text-align: start;

    padding: 52px;

    background-color: #1F2937;
    font-family: 'Inter', sans-serif;

    color: gray;
}

button {
    cursor: pointer;
    border-radius: 10px;

    height: 40px;
    padding: 9px 15px;

    font-size: medium;
    font-weight: 400;

}

#Title-wrapper {
    padding: 10px
}


#line1 {
    font-weight: 900;
    font-size: 32px;
    color: white;

    margin-bottom: 0px;
}

#line2 {
    font-weight: 900;
    font-size: 32px;
    color: #10B981;

    margin-top: 3px;
    margin-bottom: 0px;
    
}


#paragraph1 {
    font-weight: 100;
    font-size: 16px;

    margin-top: 13px;
    margin-bottom: 51px;
}

#line {
    width: 100%;
    height: 2px;

    margin-top: 35px;
    border-radius: 15px;

    background-color: #2F3E53;

}

#GeneratePassword-el{
    color: var(--white, #FFF);

    font-size: 16px;
    font-style: normal;
    font-weight: 500;

    padding: 9px 15px;
    border: none;

    border-radius: 6px;
    background: #10B981;
    /* shadow/sm */
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

#suggest1 {
    margin-top: 35px;
    margin-right: 24px;
    background-color: #273549;
    border: none;

    border-radius: 6px;

    width: 211px;
    height: 39px;

    color: #10B981;
}


#suggest2 {
    margin-top: 35px;
    margin-left: 0px;
    background-color: #273549;
    border: none;

    border-radius: 6px;

    width: 211px;
    height: 39px;

    color: #10B981;
}